@import "tailwindcss";

body {
  background-color: #010B24;
  color: white; /* optional, but looks better */
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-33.333%); }
}
 
.animate-marquee {
  animation: marquee 20s linear infinite;
}
 
.animate-marquee:hover {
  animation-play-state: paused;
}
 
/* ── Base ── */
body {
  background-color: #010B24;
  color: white;
}

@media (max-width: 1400px) {
  .features-container {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

@media (max-width: 768px) {
  .features-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
 

:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'Space Mono', monospace;
  --font-hoves: "TT Hoves Pro Trial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-border-spin {
    animation: border-spin 3s linear infinite;
  }

  @keyframes border-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

